<h2>Template: <small>Dinamicos</small></h2>

<hr>

<form (ngSubmit)="guardar()" autocomplete="off" #miFormularioDinamico="ngForm">
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control" ngModel name="nombre" placeholder="Nombre de la Persona" required>
            <span class="form-text text-danger" *ngIf="miFormularioDinamico.controls.nombre?.errors && miFormularioDinamico.controls.nombre?.touched">Este campo es obligatorio</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary float-end" [disabled]="miFormularioDinamico.invalid" (click)="guardar()">Guardar</button>
        </div>
    </div>

</form>