<h2>Template: Basicos</h2>

    <div class="row">
        <div class="col">

            <form autocomplete="off" (ngSubmit)="guardar()" [formGroup]="miFormularioBasico">

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Producto</label>
                    <div class="col-sm-9 col">
                        <input type="text" class="form-control" name="producto" formControlName="producto" placeholder="Nombre del Producto" required>
                    </div>
                    <span class="form-text text-danger" *ngIf="campoInvalido('producto')">Deve tener al menos 3 letras</span>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Precio</label>
                    <div class="col-sm-9 col">
                        <input type="number" class="form-control" name="precio" formControlName="precio" placeholder="Precio del Producto" required>
                    </div>
                    <span class="form-text text-danger" *ngIf="campoInvalido('precio')">El precio deve ser mayor a 0</span>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Existencias</label>
                    <div class="col-sm-9 col">
                        <input type="number" class="form-control" name="exitencias" formControlName="existencias" placeholder="Existencias del Producto" required>
                    </div>
                    <span class="form-text text-danger" *ngIf="campoInvalido('existencias')">El precio deve ser mayor a 0</span>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary float-end" [disabled]="miFormularioBasico.invalid">Guardar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>