<h2>Template: Basicos</h2>

    <div class="row">
        <div class="col">

            <form (ngSubmit)="guardar()" #miFormularioBasico="ngForm" autocomplete="off">

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Producto</label>
                    <div class="col-sm-9 col">
                        <input type="text" class="form-control" [ngModel]="initForm.producto" name="producto" placeholder="Nombre del Producto" minlength="3" required>
                    </div>
                    <span class="form-text text-danger" *ngIf="nombreValid()">Deve tener al menos 3 letras</span>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Precio</label>
                    <div class="col-sm-9 col">
                        <input type="number" class="form-control" [ngModel]="initForm.precio" name="precio" placeholder="Precio del Producto" required>
                    </div>
                    <span class="form-text text-danger" *ngIf="precioValid()">El precio deve ser mayor a 0</span>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Existencias</label>
                    <div class="col-sm-9 col">
                        <input type="number" class="form-control" [ngModel]="initForm.existencias" name="exitencias" customMin [minimo]="0" placeholder="Existencias del Producto" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" [disabled]="miFormularioBasico.invalid" class="btn btn-primary float-end">Guardar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>