<h2>Reactivos: <small> Dinámicos </small></h2>
<hr>

<form autocomplete="off" (ngSubmit)="guardar()" [formGroup]="miFormularioDinamico">
   
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control" name="nombre" formControlName="nombre" placeholder="Nombre de la persona">
            <span class="form-text text-danger" *ngIf="campoInvalido('nombre')">
                   Este campo es obligatorio
            </span>
        </div>
    </div>

    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">

            <div class="input-group">
                <input class="form-control" (keyup.enter)="agregarFavorito()" [formControl]="nuevoFavorito" placeholder="Agregar favorito">
                <button class="btn btn-outline-primary" type="button" (click)="agregarFavorito()">
                    Agregar
                </button>
            </div>
        </div>
    </div>


    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">

            <div class="input-group mb-1" *ngFor="let hobbyControl of $any(miFormularioDinamico.get('favoritos')).controls; let i = index">
                
                <input type="text" class="form-control" [formControlName]="i"/>
                
                <button class="btn btn-outline-danger" (click)="borrar(i)" type="button">Eliminar</button>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <button type="button" (click)="guardar()" class="btn btn-primary float-end" [disabled]="miFormularioDinamico.invalid">Guardar</button>
        </div>
    </div>


</form>
