<h2>Template</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let item of templateMenu" class="list-group-item" [routerLink]="item.ruta" routerLinkActive="active">
        {{item.texto}}
    </li>
</ul>



<h2 class="mt-3">Reactive</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let item of reactiveMenu" class="list-group-item" [routerLink]="item.ruta" routerLinkActive="active">
        {{item.texto}}
    </li>
</ul>